@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron
{
  text-align: center;
  }
  
  h1, h2, h3, h4 {
    line-height: 1;   }
    
    .footer {
      margin-top: 25px;
      border-top: 5px solid #eaeaea;
      color: #777;
      
    }